extends layout

block content
  .post-view
    -
    if post['is_self']
      h1.post-view-title= post['title']
      p.marginTop10!= post['selftext_html']
    else
      a(href=post['url'])
        h1.post-view-title= post['title']
  .comments
    -
    each comment in comments
      p!= comment['data']['body_html']